* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}
.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 1px solid #cdbda3;
  border-radius: 20px;
  padding: 20px 20px;
  height: 10rem;
}
.title {
  display: flex;
  align-items: flex-start;

  flex-direction: column;
}
.title h1 {
  color: #cdbda3;
  font-size: 1.5rem;
  font-weight: bolder;
}
.title p {
  color: #cdbda3;
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 100;
}

.number {
  border-radius: 50%;
  background-color: #f55632;
  padding: 30px;
}
.number p {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

.form {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.form input {
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 60px;
  background-color: #1e1e1e;
  outline: none;
}
.form button {
  border: 1px solid #f55632;
  border-radius: 50%;
  background-color: #f55632;
  font-size: 1.5rem;
  font-weight: 700;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tache {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cdbda3;
  border-radius: 10px;
  padding: 10px 10px;
  width: 40%;
  margin-top: 30px;
  background-color: #1e1e1e;
}
.tache svg {
  color: #cdbda3;
  /* width: 20%; */
}
.tache h1 {
  color: #cdbda3;
  font-size: 1.5rem;
}

.name-tache {
  display: flex;
  align-items: center;
  width: 500px;
}
.name-tache .done {
  text-decoration: line-through;
}
.name-tache .todo.done {
  background-color: #57cb4c;
  border: 2px solid #57cb4c;
}
.name-tache .todo {
  flex: 0 0 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 15px;
  border: 2px solid #f55632;
  cursor: pointer;
}
.emojis {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.trash {
  display: flex;
  justify-content: flex-end;
}
.trash img {
  cursor: pointer;
  width: 30%;
}
.edit {
  position: relative;
  display: flex;
  justify-content: flex-end;
  left: 50px;
  /* gap:10px; */
}
.edit img {
  cursor: pointer;
  width: 30%;
}
.emojis > input {
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 0 10px 10px;
  background-color: #1e1e1e;
  outline: none;
}
