:root {
  --primary-background: #1e1e1e;
  --color-primary: #f55632;
  --color-secondary: #333;
  --color-tertiary: #cdbda3;
  --color-quaternary: #e4d3b6;
  --color-quinary: #f9f9f9;
  --color-senary: #272727;
  --color-svg: #f55632;
}

[data-theme="light"] {
  --primary-background: #ffffff;
  --color-primary: #f55632;
  --color-secondary: #f3f3f3;
  --color-tertiary: #333333;
  --color-quaternary: #333333;
  --color-quinary: #333333;
  --color-senary: #cccccc;
  --color-svg: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 70px;
  margin: 0;
  transition: background 0.4s, color 0.4s;
  background-color: var(--primary-background);
  color: var(--color-quaternary);
  display: none;
}

.header {
  font-size: x-large;
  color: var(--color-quaternary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  height: 50px;
  z-index: 1000;
  background-color: var(--primary-background);
  transition: background-color 0.4s;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerTodo {
  color: var(--color-primary);
}

.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  width: 60px;
  height: 30px;
  position: relative;
  cursor: pointer;
  background-color: var(--color-secondary);
  border-radius: 34px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-primary);
  border-radius: 50px;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.icon {
  transform: translateY(-16px);
  height: 0px;
  transition: opacity 0.4s;
}

input:checked + .slider .moon {
  opacity: 0.1;
}

input:checked + .slider .sun {
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 1px solid var(--color-tertiary);
  border-radius: 20px;
  height: 10rem;
  width: 100%;
}

.title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.title h1 {
  color: var(--color-tertiary);
  font-size: 1.5rem;
  font-weight: bolder;
}

.title p {
  color: var(--color-tertiary);
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 100;
}

.number {
  background-color: var(--color-secondary);
  width: 110px;
  height: 110px;
  border-radius: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.number p {
  color: var(--color-quinary);
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.form {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 97%;
}

.form input {
  color: var(--color-quaternary);
  border: 1px solid var(--color-senary);
  border-radius: 15px;
  background-color: var(--color-secondary);
  padding: 10px 12px;
  outline: none;
  width: 100%;
}

.open-modal {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  width: 34.1px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tache {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-tertiary);
  border-radius: 10px;
  padding: 10px 10px;
  width: 100%;
  margin-top: 30px;
  background-color: var(--color-secondary);
}

.tache h1 {
  color: var(--color-tertiary);
  font-size: 1.5rem;
  max-width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.name-tache {
  width: 70%;
}

.clock {
  display: flex;
  align-items: top;
  padding-bottom: 10px;
  padding-left: 10px;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.clock img {
  width: 20px;
}

.date {
  color: var(--color-tertiary);
  font-size: small;
  padding-left: 2px;
}

.name-tache .done {
  text-decoration: line-through;
}

.name-tache .todo.done {
  background-color: #57cb4c;
  border: 2px solid #57cb4c;
}

.name-tache .todo {
  flex: 0 0 1.5rem;
  height: 1.5rem;
  border-radius: 30px;
  border: 2px solid var(--color-primary);
  cursor: pointer;
}

.emojis {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  gap: 10px;
  margin-right: 20px;
}

.trash {
  display: flex;
  justify-content: flex-end;
  width: 30px;
}

.trash img {
  cursor: pointer;
}

.edit {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 30px;
}

.edit img {
  cursor: pointer;
}

.theme-icon {
  filter: invert(81%) sepia(22%) saturate(210%) hue-rotate(-15deg)
    brightness(100%) contrast(100%);
}

[data-theme="light"] .theme-icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(100%);
}

.emojis > input {
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 0 10px 10px;
  background-color: var(--primary-background);
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #333333;
  padding: 20px;
  border-radius: 20px;
  color: white;
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal-title {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.close-btn {
  border: 1px solid #242323;
  background-color: #242323;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-close {
  width: 60%;
}

.modal-description {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#modal-textarea {
  background-color: #272727;
  color: white;
  border: none;
  outline: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 10px;
  font-size: large;
  padding: 10px;
  overflow: hidden;
  resize: vertical;
}

.modal-date {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#modal-input-date {
  background-color: #272727;
  outline: none;
  border: none;
  color: white;
  border-radius: 7px;
  padding: 10px;
  color-scheme: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.modal-color {
  padding-top: 20px;
}

.modal-list-color {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.selected-color {
  outline: 3px solid black;
}

.color-default {
  background-color: var(--primary-background);
}

.color-cobalt {
  background-color: #007bff;
}

.color-emeraude {
  background-color: #28a745;
}

.color-red-vif {
  background-color: #dc3545;
}

.color-mandarine {
  background-color: #fd7e14;
}

.color-or {
  background-color: #ffc107;
}

.color-raisin {
  background-color: #6f42c1;
}

.color-cyan {
  background-color: #17a2b8;
}

.color-anthracite {
  background-color: #343a40;
}

.color-rose-bonbon {
  background-color: #e83e8c;
}

.color-menthe {
  background-color: #20c997;
}

#alert-modal {
  width: 100%;
  background-color: rgb(241, 91, 91);
  padding: 10px;
  margin-top: 20px;
  display: none;
}

.modal-form {
  padding-top: 20px;
  display: flex;
  gap: 12px;
}

.modal-button {
  width: 100px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}

#modal-valid-button {
  background-color: #f55632;
}

.modal-cancel-button {
  background-color: #242323;
  color: #ffffff;
}

@media (max-width: 1250px) {
  .modal {
    width: 90%;
  }
}
